/* ----------------------------------------------------------------- */
/* ------EVERYTHING WRITTEN BEYOND THIS POINT IS WRITTEN BY:-------- */
/* ----------------------------------------------------------------- */
/* ----------Erik Sommer-------------------------------------------- */
/* ----------Adrian Storset----------------------------------------- */
/* ----------Mats Sommervold---------------------------------------- */
/* ----------------------------------------------------------------- */

/* We decided to use the BEM methodology for naming and selecting elements */
/* Se more at: "https://en.bem.info/methodology/quick-start/" */

/*
 * Global css styles
 */

* {
	box-sizing: border-box; /* Makes the elements width include the border and padding. */
}

body {
	font-family: 'PT Sans Caption', 'Open Sans',sans-serif;
	/* "margin 0px;" is handeled by the normalize.css library */
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: black;
	text-decoration: none;
}