@define-mixin atSmall {
	@media (min-width: 330px) {
		@mixin-content;
	}
}

@define-mixin atMedium {
	@media (min-width: 600px) {
		@mixin-content;
	}
}

@define-mixin atDesktopMenu {
	@media (min-width: 690px) {
		@mixin-content;
	}
}

@define-mixin atMedium2 {
	@media (min-width: 900px) {
		@mixin-content;
	}
}

@define-mixin atLarge {
	@media (min-width: 1200px) {
		@mixin-content;
	}
}

@define-mixin atHuge {
	@media (min-width: 1400px) {
		@mixin-content;
	}
}

@define-mixin clearfix {
	&::after {
		content: "";
		clear: both;
		display: table;
	}
}

@define-mixin negativeMargin {
	&::after {
		content: "";
		margin-top: 0px;

		@mixin atMedium2 {
			margin-top: -200px;
		}

		@mixin atLarge {
			margin-top: -100px;
		}
	}
}