@define-mixin atSmall {
	@media (min-width: 330px) {
		@mixin-content;
	}
}

@define-mixin atMedium {
	@media (min-width: 600px) {
		@mixin-content;
	}
}

@define-mixin atLarge {
	@media (min-width: 1200px) {
		@mixin-content;
	}
}

@define-mixin clearfix {
	&::after {
		content: "";
		clear: both;
		display: table;
	}
}