$mainBlue: #08104D;
$mainRed: #FF7564;
$mainBlueT: rgba(8, 16, 77, .8);
$mainRedT: rgba(255, 117, 100, .8);
$secondBlueT: rgba(201, 210, 226, .8);
$secondBlue: #C9D2E2;
$darkGray: #242738;
$lightGray: #50567c;
$blackGray: #14161f;