.banner {
	height: auto;
	width: 100%;
	overflow: hidden;
	z-index: -1;
	max-height: 100vh;
	position: relative;

	&__img {
		display: block;
		width: 100%;
		/*transform: translateY(-17%);*/
	}

	&__textbox {
		background-color: rgba(255,255,255,.8);
		position: absolute;
		max-width: 80%;
		padding: 20px 30px;
		bottom: 18px;
	}

	&__heading-group {
		display: inline;
	}

	&__textbox-image {
		width: 200px;
		height: auto;
		margin-left: -55px;
	}
	
	&__heading {
		font-weight: 400;
		font-size: 2rem;
		display: block;
		line-height: 2.5rem;
		margin: 0px;
	}

	&__subheading {
		font-weight: 400;
		font-size: 1rem;
		text-align: right;
		max-width: 340px;
	}

	@mixin atLarge {

		&__textbox {
			max-width: 50%;
		}

		&__heading-group {
			display: inline;
		}

		&__textbox-image {
			margin-left: -50px;
		}
		
		&__heading {
			font-size: 3rem;
			line-height: 3rem;
		}

		&__subheading {
			font-size: 1.2rem;
			max-width: 400px;
		}

	}

	&--red-text {
		color: $mainRed;
	}
}