/*
 * ---------------------- Borders ----------------------
 */

 .border {

	&--b-dashed {
		border-bottom: 2px dashed $blackGray;
	}

	&--b-thick {
		border-bottom: 10px solid $secondBlue;
	}

	&--b-thick-blue {
		border-bottom: 10px solid $mainBlue;
	}
 }