/*
 * ---------------------- Button ----------------------
 */

.button {
	display: inline-block;
	height: 40px;
	width: auto;
	border: 2px solid $mainBlue;
	margin: 15px 20px;
	color: $mainBlue;
	text-decoration: none;
	padding: 0px 20px;
	line-height: 36px;
	font-weight: 700;
	transition: all .1s linear;

	&:hover {
		color: white;
		background-color: $mainBlue;
		transition: all .1s linear;
	}

	&--filled:hover {
		color: $mainBlue;
		background-color: rgba(255,255,255,0);
		transition: all .1s linear;
	}
	
	&--red-filled:hover {
		color: white;
		background-color: rgba(255,255,255,0);
		transition: all .1s linear;
	}

	&--red-filled {
		color: $blackGray;
		background-color: $mainRed;
		border: 2px solid $mainRed;
		transition: all .1s linear;
	}

	&--red:hover {
		color: $blackGray;
		background-color: $mainRed;
		transition: all .1s linear;
	}

	&--red {
		color: white;
		background-color: none;
		border: 2px solid $mainRed;
		transition: all .1s linear;
	}

	&--expand {
		width: 100%;
		text-align: center;
	}

	&--rounded {
		border-radius: 3px;
	}

	&--no-r-margin {
		margin-right: 0px;
	}

	&--no-l-margin {
		margin-left: 0px;
	}

	&--hidden-at-small {
		display: none;

		@mixin atMedium {
			display: inline-block;
		}

	}

	&--hidden-at-mobile-menu {
		display: none;

		@mixin atDesktopMenu {
			display: inline-block;
		}

	}

	&--float-r-at-mobile-menu {
		float: right;

		@mixin atDesktopMenu {
			float: none;
		}
	}

	&--filled {
		background-color: $mainBlue;
		color: white;
	}
}