/*
 * ---------------------- Wrapper ----------------------
 */

.flex {
	display: flex;
	justify-content: space-between;
	
	&--no-flex-at-mobile-menu {
		display: block;

		@mixin atDesktopMenu {
			display: flex;
		}
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--vertical-start {
		align-items: center;	
	}

	&--vertical-center {
		align-items: center;
	}
	
	&--column-at-small {
		flex-direction: column;

		@mixin atMedium {
			flex-direction: row;
		}
	}

	&--column-at-medium {
		flex-wrap: wrap;

		@mixin atMedium2 {
			flex-wrap: nowrap;
		}
	}
}