/*
 * Generic content container
 */

.generic-content-container {

	p {
		line-height: ;
		font-size: 1rem;
		margin: ;
		color: $darkGray;
		font-family: 'Open Sans', sans-serif;
	}

	p a {
		font-weight: ;
	}

}