/*
 * ---------------------- Heading ----------------------
 */

.heading {
	color: $mainBlue;
	font-size: 1.6rem;
	font-weight: 700;
	margin: 0px;
	font-family: 'PT Sans Caption';
	
	&--margin {
		margin: 20px 0px;
	}

	&--white {
		color: white;
	}

	&--red {
		color: $mainRed;
	}

	&--second-blue {
		color: $secondBlue;
	}

	&--center {
		margin: 0px;
		text-align: center;
	}

	&--underline {
		text-decoration: underline;
	}

	&--block {
		display: block;
	}

	&--large-at-small {
		font-size: 3rem;
	}
	
	@mixin atMedium {
		font-size: 2.2rem;
	}
	
	@mixin atLarge {
		font-size: 3rem;
	}
	
	&--small {
		font-size: 1.3rem;
		font-weight: 400;
		padding-bottom: .2em;

		@mixin atMedium {
			font-size: 1.6rem;
		}
		
	}

	&--large {
		font-size: 3rem;

		@mixin atMedium {
			font-size: 4rem;
		}
		
		@mixin atLarge {
			font-size: 6rem;
		}
	}

	&--b-margin {
		margin-bottom: 30px;
	}
}