/*
 * ---------------------- Logo ----------------------
 */

.logo {
	display: inline-block;
	height: auto;
	width: 100px;
	margin: 0px 20px;
	
	&--float-l-at-mobile-menu {
		float: left;
	}

	&__image {
		height: 30px;
	}

	&__image--vertical-center {
		position: relative;
		top: 47%;
		transform: translateY(-50%);
	}

	&--center {
		margin: 0px auto;
		display: block;
	}

	&--no-l-margin {
		margin-left: 0px;
	}

}