/*
 * Navigation
 */

.nav {
	background-color: #fff;
	opacity: .8;
	font-size: 1.25rem;
	width: 100%;
	position: fixed;

	&__links {
		display: none;
	}
	
	&__link-el {
		display: inline-block;
		height: 70px;
	}

	&__link {
		display: inline-block;
		color: $mainBlue;
		font-style: none;
		text-decoration: none;
		height: 100%;
		margin: 0px;
		padding: 0px 20px;
		line-height: 70px;

	}

	&__link:hover {
		color: $mainRed;
		text-decoration: none;
	}

	&__link:visited {
		color: $mainBlue;
		text-decoration: none;
	}

	&__link--active {
		color: $mainRed;
		text-decoration: none;
	}

	&__menu-icon {
		height: 70px;
		display: inline-block;
		float: right;
	}

	&__menu-icon-img {
		height: 30px;
		width: auto;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}

	@mixin atMedium {
		
		&__links {
			display: inline-block;
			margin: 0px auto;
			padding: 0px;
		}

		&__menu-icon {
			display: none;
		}

	}

	@mixin atLarge {

		&__link {
			padding: 0px 30px;
		}

	}

}