/*
 * ---------------------- Page Section ----------------------
 */

.page-section {
	padding: 30px 0px;

	&--red {
		background-color: $mainRed;
	}

	&--dark {
		background-color: $darkGray;
	}

	@mixin atMedium {
		padding: 60px 0px;
	}

	@mixin atLarge {
		padding: 100px 0px;
	}

	&--small {
	padding: 30px 0px;

		@mixin atMedium {
			padding: 40px 0px;
		}

		@mixin atLarge {
			padding: 60px 0px;
		}

	}
}