/*
 * ---------------------- Wrapper ----------------------
 */

.wrapper {
	max-width: 1100px;
	padding: 0px 18px;
	margin-left: auto;
	margin-right: auto;
	
	&--no-p-at-small {
		padding: 0px;

		@mixin atMedium {
			padding: 0px 18px;
		}
	}

	&--flex {
		display: flex;
		justify-content: space-between;
	}

	&--large {
		
		@mixin atMedium {
			max-width: 1400px;
		}
	}
}